// Sidebar menu elements
ul.my-sidebar-elements-class
  //Syntax sidebar mixins:
    First level item mixin:
      +sb-item('id','name','URL','icon-class')
        extra content

    Sub-level Item
      +sb-sub-item(id, name, url)
        extra content
          
  +sb-item('dashboard', 'Dashboard','index','home')
  +sb-item('ui-elements', 'UI Elements','','paper-plane')
    +sb-sub-item('ui-general', 'General','ui-general')
    +sb-sub-item('ui-grid', 'Grid','ui-grid')
    +sb-sub-item('ui-typography', 'Typography','ui-typography')
      span.label.label-primary.pull-right New
    +sb-sub-item('ui-buttons', 'Buttons','ui-buttons')
    +sb-sub-item('ui-modals', 'Modals','ui-modals')
    +sb-sub-item('ui-icons', 'Icons','ui-icons')
    +sb-sub-item('ui-tabs-accordions', 'Tabs & Accordions','ui-tabs-accordions')
  +sb-item('forms', 'Forms','','puzzle')
    +sb-sub-item('form-elements', 'Components', 'form-elements')
    +sb-sub-item('form-validation', 'Validation', 'form-validation')
    +sb-sub-item('form-wizard', 'Wizard', 'form-wizard')
    +sb-sub-item('form-masks', 'Input Masks', 'form-masks')
    +sb-sub-item('form-multiselect', 'Multi Select', 'form-multiselect')
    +sb-sub-item('form-wysiwyg', 'WYSIWYG Editor', 'form-wysiwyg')
    +sb-sub-item('form-upload', 'Multi Upload', 'form-upload')
  +sb-item('tables', 'Tables','','grid')
    +sb-sub-item('tables-general', 'General', 'tables-general')
    +sb-sub-item('tables-datatables', 'Data Tables', 'tables-datatables')
  +sb-item('maps', 'Maps','','map')
    +sb-sub-item('maps-google', 'Google Maps', 'maps-google')
    +sb-sub-item('maps-vector', 'Vector Maps', 'maps-vector')
  +sb-item('media', 'Media','','earphones')
    +sb-sub-item('email-inbox', 'Inbox', 'email-inbox')
    +sb-sub-item('email-read', 'Email Detail', 'email-read')
    +sb-sub-item('email-compose', 'Email Compose', 'email-compose')
  +sb-item('charts', 'Charts','charts','pie-chart')
  +sb-item('pages', 'Pages','pages','doc')
  +sb-item('layout', 'Layout','','layers')
    +sb-sub-item('pages-blank', 'Blank Page', 'pages-blank')
    +sb-sub-item('pages-blank-header', 'Blank Page Header', 'pages-blank-header')
    +sb-sub-item('pages-blank-aside', 'Blank Page Aside', 'pages-blank-aside')
    +sb-sub-item('pages-login', 'Login', 'pages-login')
    +sb-sub-item('pages-404', '404 Page', 'pages-404')
    +sb-sub-item('pages-500', '500 Page', 'pages-500')
    +sb-sub-item('pages-sign-up', 'Sign Up', 'pages-sign-up')
    +sb-sub-item('pages-forgot-password', 'Forgot Password', 'pages-forgot-password')
    +sb-sub-item('pages-profile', 'Profile', 'pages-profile')
    +sb-sub-item('pages-search', 'Search', 'pages-search')
    +sb-sub-item('pages-calendar', 'Calendar', 'pages-calendar')
    +sb-sub-item('pages-code-editor', 'Code Editor', 'pages-code-editor')
    +sb-sub-item('pages-gallery', 'Gallery', 'pages-gallery')
    +sb-sub-item('pages-timeline', 'Timeline', 'pages-timeline')