block vars
include /includes/structure/cz-mixins.jade
doctype html
html(lang='en')
	head
		include /includes/structure/cz-head.jade
	body
		include /includes/structure/cz-top-header.jade
		include /includes/structure/cz-main-wrapper.jade
		include /includes/structure/cz-footer-scripts.jade