block vars
include /includes/structure/wf-mixins.jade
doctype html
html(lang='en')
	head
		include /includes/structure/head.jade
	body
		include /includes/structure/top-header.jade
		include /includes/structure/main-wrapper.jade
		include /includes/structure/footer-scripts.jade