meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(name='description', content='')
meta(name='author', content='')
link(rel='shortcut icon', href='#{conf.assets_path}/img/favicon.png')
block header-page-title
	title #{conf.siteTitle} Dashboard

block header-styles
	+lib_css("open-sans-font")
	+lib_css("lato-font")
	+lib_css("bootstrap")
	+lib_css("linea-iconset")
	//if lt IE 9
		script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')

block header-styles-after

+local_style("style.css")   