nav.navbar.navbar-default.pe-topheader
  .container-fluid
    // Brand and toggle get grouped for better mobile display
    .navbar-header
      a.navbar-brand(href='#') 
      button.navbar-toggle.collapsed.pe-sidebar-toggle(type='button', data-toggle='collapse', data-target='#pe-main-sidebar-container')
        span.sr-only Toggle navigation
        span(class="#{conf.sidebarIconPrefix} #{conf.sidebarIconPrefix}-menu")
    // Collect the nav links, forms, and other content for toggling
    #pe-topheader-collapse       
      ul.nav.navbar-nav.navbar-right.pe-avatar-nav        
        include /includes/structure/top-header/profile-dropdown.jade
      ul.nav.navbar-nav.navbar-right.pe-not-nav
        include /includes/structure/top-header/search.jade
        include /includes/structure/top-header/alerts-dropdown.jade
        include /includes/structure/top-header/messages-dropdown.jade
    // /.navbar-collapse
  // /.container-fluid
