li.pe-alerts
  a.dropdown-toggle(href='javascript:;', data-toggle='dropdown', aria-expanded='true')
    i.icon.icon-bell
  ul.dropdown-menu
    div.arrow
    li
      .content
        ul
          li
            a(href='#')
              .alert-icon
                i.icon.icon-note
              .alert-body            
                span.name Floor Jansen 
                span.description Hey, remember to send me the analitycs from...
                span.date 2 hours ago.
          li
            a(href='#')
              .alert-icon
                i.icon.icon-docs
              .alert-body        
                span.name Bob Marley        
                span.description Hi Steve, can you send me the files for the NY client? 
                span.date yesterday
          li
            a(href='#')
              .alert-icon
                i.icon.icon-paper-clip
              .alert-body        
                span.name Simone Simmons      	
                span.description Simone has attachment 3 files.
                span.date 3 Feb.
      ul.foot
        li
          a(href='#') SEE ALL THE NOTIFICATIONS