li.my-messages
  a.dropdown-toggle(href='javascript:;', data-toggle='dropdown', aria-expanded='true')
    i.icon.icon-basic_elaboration_message_dots
    span.badge 12
  ul.dropdown-menu
    li
      .content
        ul
          li
            a(href='#')
              img.img-circle(src='/img/avatar-1.jpg', alt='avatar')
              .mess-body
                span.date 3 min ago.
                span.name Joan Jett
                span.description Decription about message
          li
            a(href='#')
              img.img-circle(src='/img/avatar-2.jpg', alt='avatar')
              .mess-body
                span.date 5 hours ago.
                span.name Freddie Mercury
                span.description Decription about message
          li
            a(href='#')
              img.img-circle(src='/img/avatar-3.jpg', alt='avatar')
              .mess-body
                span.date 3 Feb.
                span.name Amy Lee
                span.description Decription about message
      ul.foot
        li
          a(href='#') View all Messages