a.dropdown-toggle(href='javascript:;', data-toggle='dropdown', aria-expanded='true')
  i.icon-music_bell
  span.badge 12
ul.dropdown-menu.messages
  li
    .content
      ul
        li
          a(href='#')
            img.img-circle(src='/img/avatar-1.jpg', alt='avatar')
            .notif-body
              span.date.pull-right 3 min ago.
              span.name Usuario1
              |  decription about notification
        li
          a(href='#')
            img.img-circle(src='/img/avatar-2.jpg', alt='avatar')
            .notif-body
              span.date.pull-right 5 hours ago.
              span.name Usuario2
              |  decription about notification
        li
          a(href='#')
            img.img-circle(src='/img/avatar-3.jpg', alt='avatar')
            .notif-body
              span.date.pull-right 3 Feb.
              span.name Usuario3
              |  decription about notification
    ul.foot
      li
        a(href='#') View all notification