li.dropdown.my-profile-menu
  a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
    img.img-circle(alt='Avatar', src='/img/avatar-small.jpg')
    span Steven Tyler
    span.caret
  ul.dropdown-menu(role='menu')
    li
      a(href='#') My Account
    li
      a(href='#') Profile
    li
      a(href='#') Messages
    li.divider
    li
      a(href='#') Sign Out