li.dropdown.pe-profile-menu
  a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
    img.img-circle(alt='Avatar', src='/img/avatar-small.jpg')
    span Steven Tyler
    span.caret
  ul.dropdown-menu(role='menu')
    li
      a(href='#') 
        i.icon-user
        span My Account
    li
      a(href='#')
        i.icon-calendar
        span Calendar
    li
      a(href='#')
        i.icon-envelope-letter
        span Inbox
    li.divider
    li
      a(href='#') 
       i.icon-power
       span Sign Out