li.my-settings
  a.dropdown-toggle(href='javascript:;', data-toggle='dropdown', aria-expanded='true')
    i.icon.icon-basic_gear
  ul.dropdown-menu
    li
      .content
        ul
          li
            a(href='#')
             .sett-body Manage followers
          li
            a(href='#') 
             .sett-body Manage privacity
          li
            a(href='#') 
             .sett-body Manage Projects