li.pe-settings
  a.dropdown-toggle(href='javascript:;', data-toggle='dropdown', aria-expanded='true')
    i.icon.icon-settings
  ul.dropdown-menu
    div.arrow
    li
      .content
        ul
          li
            a(href='#')               
              .sett-body 
               i.icon.icon-graph
               span.name Analitycs
          li
            a(href='#')
             .sett-body 
               i.icon.icon-wrench
               span.name Settings
          li
            a(href='#')
             .sett-body 
               i.icon.icon-info
               span.name Help