/*Paths*/
@img-path: "../img"; 

/*General colors palette*/
@body-color: #e5e5e5;

//Color palette
@pe-darkcolor: 			#283347;
@pe-primary-color: 	    #30BFBD;
@pe-alt-color: 			#BEEC84;
@pe-white-color: 		#FFF;
@pe-black-color: 		#000;
@pe-white-alt: 			#f9f9f9;

@pe-secondary-color-light: #394951;
@pe-secondary-color: #2a374d;
@pe-secondary-color-dark: #1f293a;

@pe-alternative-color-1: #002b69;



@pe-text-gray-light: #bababa;
@pe-text-gray: #828282;
@pe-text-gray-dark: #818181;

/*Typography*/
@pe-font-weight-bold: 			700;
@pe-font-weight-semi-bold: 	600;
@pe-font-weight-medium: 		500;
@pe-font-weight-normal: 		400;
@pe-font-weight-light: 			300;
@pe-font-weight-thin: 			200;

/*Top Header*/
@pe-topheader-logo-bg: 			darken(@pe-leftsidebar-bg, 3%);
@pe-topheader-bg: 					@pe-white-color;
@pe-topheader-color: 				#959595;
@pe-topheader-height: 			80px;
@pe-topheader-phone-height: 	56px;
@pe-topheader-item-active: 	#e7e7e7;
@pe-topheader-badge-bg: 		@pe-primary-color;

@pe-dropdown-border-color: 		#959595;
@pe-topheader-item-active-bg: 	#e7e7e7;
@pe-topheader-item-seeall-bg:   @pe-topheader-item-active-bg;

//Left sidebar
@pe-leftsidebar-bg: 					@pe-darkcolor;
@pe-leftsidebar-item-height: 	46px;
@pe-leftsidebar-item-color: 	lighten(@pe-leftsidebar-bg, 45%);
@pe-leftsidebar-subitem-color:	@pe-leftsidebar-item-color;

@pe-navbar-toggle-bg: @pe-leftsidebar-bg;

/*Sidebar colors palette*/
@pe-sidebar-text-on: #eaeaea;
@pe-sidebar-primary-text-off: #96A2A8;
@pe-sidebar-secondary-text-off: #60737c;

@pe-sidebar-right-icons-transition: transform .3s linear, opacity .3s linear;

@subp-color: (@pe-primary-color - 13%);
@lightedp-color: (@pe-primary-color + 10%);
@text-color: #FFF;

/*General elements*/
@link-color: (@pe-primary-color + 10%);

/*Sidebar*/
@pe-sidebar-width: 220px;
//@cz-sidebar-bg: #272930;
//@cz-sidebar-link-color: #c9d4f6;

/*Footer*/
//@cz-footer-bg: darken(@cz-sidebar-bg, 2%);
//@cz-footer-text-color: #c9d4f6;
//@cz-footer-padding: 20px 0;

/*colors palette*/
@green: #60C060;
@blue: #5BC0DE;
@orange: #FF9900;
@red: #DF4B33;
@dark: #23262B;

/*social colors*/
@facebook: #5d82d1;
@twitter: #50bff5;
@google: #eb5e4c;
@dribbble: #f7659c;
@youtube: #ef4e41;
@flickr: #0063dc;
@yahoo: #ab47ac;
@linkedin: #238cc8;
@pinterest: #e13138;
@github: #333;
@tumblr: #426d9b;

//Responsive Variables
@desktop: ~"(min-width: @{screen-lg})";
@laptop: ~"(min-width: @{screen-md}) and (max-width: @{screen-md-max})";
@tablet: ~"(min-width: @{screen-sm}) and (max-width: @{screen-sm-max})";
@phone: ~"(max-width: @{screen-xs-max})";
@small-phone: ~"(max-width: @{screen-xs})";

//Retina Display
@retina: ~"all and (-webkit-min-device-pixel-ratio: 2), all and (min-resolution: 192dpi)";

//Google Chrome Query
@webkit: ~"screen and (-webkit-min-device-pixel-ratio:0)";

//IE8 Media Query
@ie8: \0screen;

//IE 10+ Media Query
@ie10: ~"all and (-ms-high-contrast: none), (-ms-high-contrast: active)";