/* LEFTSIDEBAR */
.my-main-sidebar-container{
	width: @my-sidebar-width;
	background: @pe-leftsidebar-bg;

	&:before {
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		content: "";
	    z-index: -1;
	    width: inherit;
	    background-color: inherit;
	} 

	.my-sidebar-toggle{
		padding: 10px 0;
		display: none;
		text-align: center;
		background-color: @my-secondary-color-dark;
		cursor: pointer;

		&:hover{
			background-color: lighten(@my-secondary-color-dark, 1%)
		}
	
		span.icon{
			font-size: 30px;
			color: @my-sidebar-text-on;
		}

		@media @phone{
			display: block;
		}
	}

	.content{
	}

	@media @phone {
		width: auto;
		position: relative;
    	top: -56px;
	}
}

/* SEARCH */
.my-search{
	width:220px;
	height:40px;
	outline:0;
	border:0;
	padding:0 20px;
	background: @my-secondary-color-dark url("@{img-path}/search-icon.png") 180px no-repeat;
	color: @my-sidebar-text-on;
	font-size:12px;
  font-family: Open Sans, sans-serif;
}

.my-search::-webkit-input-placeholder {
  color: @my-sidebar-secondary-text-off;
}

.my-search:-moz-placeholder { /* Firefox 18- */
  color:@my-sidebar-secondary-text-off;
}

.my-search::-moz-placeholder {  /* Firefox 19+ */
  color: @my-sidebar-secondary-text-off;
}

:-ms-input-placeholder {  
  color: @my-sidebar-secondary-text-off;
}

/* MENU ELEMENTS */

.my-sidebar-elements-class{

	//First level
	> li{
		
		.active{
			color: @my-sidebar-text-on;
			border-bottom: 1px solid @my-primary-color;
		}

		> a{
			position: relative; 
			display: block;
			width: 220px;
			height: @pe-leftsidebar-item-height;
			line-height: @pe-leftsidebar-item-height;
			border-bottom: 1px solid lighten(@pe-leftsidebar-bg, 2.5%);
			padding: 0 20px;
			color: @pe-leftsidebar-item-color;
			font-size: 14px;
			font-family: Lato,sans-serif;
			transition: color .3s ease;
			-moz-transition: color .3s ease;
			-webkit-transition: color .3s ease;
			-o-transition: color .3s ease;
			-ms-transition: color .3s ease;

			&:hover{
				text-decoration:none;
				color:@my-sidebar-text-on;
			}

			@media @phone {
				width: 100%;
			}	
			i{
				margin-right:20px;
			}

			span.icon{

				position:absolute;
				top:14px;
				left:186px;

				&.icon-arrows_plus{
				  opacity:1;				
				  .rotate(0deg);
				  .transition(@my-sidebar-right-icons-transition);

				  &.rotate{
				  	opacity:0;
				  	.rotate(90deg);
				  }
				}
				
				&.icon-arrows_minus{
				  opacity:0;
				  .rotate(-90deg);
				  .transition(@my-sidebar-right-icons-transition);

				  &.rotate{
				  	opacity:1;
				  	.rotate(0deg);
				  }
				}

				@media @phone {
					left: initial;
   					right: 20px;
				}
			}
		}
	}
}

ul.sub-menu{
	display:none; 
	background: @my-secondary-color-dark;
	padding:10px 0;

	li{
		
		/* 
		.active{
			color: @my-sidebar-text-on;
		} */

		a{
			color: @pe-leftsidebar-subitem-color;
			height: 30px;
			line-height: 30px;
			padding-left: 54px;
			display: block;

			.label-primary{
				    margin-top: 8px;
    				margin-right: 20px;
			}

			&:hover{
				color: lighten(@pe-leftsidebar-subitem-color, 10%); 
			}
		}
	}

}