.my-topheader{
  min-height: 50px;
  margin-bottom: 0px;
  border: none;
  background: @pe-topheader-bg;
	
	//Logo & toggle button
	.navbar-header{

		.navbar-brand{
			width: @my-sidebar-width;
			background: @pe-topheader-logo-bg url("@{img-path}/petrol-logo.png") 20px center no-repeat;
			height:80px;

			@media @phone{
				height:56px;
			}
		}
		
		@media @phone{
			background-color: @pe-topheader-logo-bg;			
		}

		.navbar-toggle{
			padding: 16px;
			background: @pe-navbar-toggle-bg;

			span
			{
				font-size: 20px;
			}
		}
	}
	
	//Menus
	.navbar-nav{
			
		> li{//First level

			> a{
				padding-top: 0;
				padding-bottom: 0;
				line-height: @pe-topheader-height;
				font-size: 16px;
				color: @pe-topheader-color;

				&:hover{
					color: @pe-topheader-color;
				}

				@media @phone{
					line-height: @pe-topheader-phone-height;	
					padding: 0;		
				}

				//Icon style inside menu
				.icon{
					vertical-align: middle;
					font-size: 20px;
				}

				//Notifications badge globe style
				.badge {
					position: absolute;
			  	top: 20px;
			  	right: 0px;			  	
			  	background-color: @my-topheader-badge-bg;
			  	padding: 3px 3px;
			  	font-weight: normal;
				}
			}

			> .dropdown-menu {
				margin-top: 0px;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;

				@media @phone{
					position: absolute;
				}
				>li{

					>a{
						padding: 10px 20px;
						color:@my-text-gray;

						&:hover{
							background:@my-primary-color;
							color:@my-white;
						}
					}
				}
			}
		}

		> .open{

			> a {
				background-color: initial;
				color: @pe-topheader-color;

				&:hover{
					background-color: initial;
					color: @pe-topheader-color;
				}

				&:focus{
					background-color: initial;
					color: @pe-topheader-color;
				}
			}
		}
	}

	//Avatar menu
	.my-avatar-nav {

		@media @phone{
			margin: 0px;
			display: table-cell;
  		    float: left;
		}
	}

	//Notification menus
	.my-not-nav{
		margin-right: 15px;

		@media @phone{
			margin: 0px;
		}

		//General style
		> li {

			> a{
				padding-left: 13px;
				padding-right: 13px;
			}

		  .dropdown-menu {
			  padding: 0;
			  width: 325px;

			  .content {
					li{
						border-bottom: 1px solid @pe-topheader-item-seeall-bg;

						&:hover{
							background: @pe-topheader-item-active-bg;						}
					}
				}

				.foot {
					padding: 10px;
					background: @pe-topheader-item-seeall-bg;

					li{
						text-align:center;
						
						a{
							font-size: 12px;
		  				font-weight: bold;
		  				color: @pe-topheader-color;
						}
					}
				}
			}
		}
		
		//Messages dropdown
		.my-messages{

			.mess-body{
				padding: 10px;

				span{
					color: @my-text-gray-dark;
				}
				.name {
					font-weight: bold;
				}
				.description{
					display: table;
					font-size: 14px;
				}
				.date {
					font-size: 10px;
					position: relative;
					top: 2px;
					float: right;
				}
			}

			img{
				float: left;
				padding: 8px;
			}
		}

		//Alerts dropdown
		.my-alerts{
			.content{
				.icon{
					float:left;
					color: @my-text-gray-light;
					padding: 22px 20px;
					font-size: 35px;
				}
				.alert-body{
					padding: 10px 10px 10px 0;
					display: table;
					span{
						color: @my-text-gray-dark;
					}
					.name{
						font-weight: bold;
						color:@my-primary-color;
					}
					.description{						
						font-size: 14px;
					}
					.date{
						display: table;
						font-size: 10px;
						margin-top: 5px;
					}
				}
			}
		}

		@media @phone{
			display: flex;
  		    float: right;
		}
	}
	//Settings dropdown
	.my-settings{
		.dropdown-menu{
			width: initial!important;

			> a{
					i{
						font-size: 25px;
					}
			}
			.content{
				a{
					color: @my-text-gray-dark;
					font-size: 12px;
					.sett-body{
						padding: 10px;
						font-size: 14px;

						.name{
							margin-left: 10px;

						}
					}
				}
			}
		}
	}
	
	//Profile Menu
	.my-profile-menu{
		margin-right: 10px;

		> a{

			img {
			  margin-right: 10px;
			  position: relative;
 				max-width: 45px; 				
 				max-height: 45px; 				
			}

			.caret{
				margin-left: 10px;
			}
		}
	}
}