.my-topheader{
	min-height: 50px;
  margin-bottom: 0px;
  border: none;

	.navbar-header{

		.navbar-brand{
			width: @my-sidebar-width;
			background: @my-secondary-color url("@{img-path}/my-logo.png") center no-repeat;
			background-size: 160px;
			height:80px;
		}
		
		@media @phone{
			background-color: @my-secondary-color;
		}
	}
}

.navbar-right{
	i {
		font-size: 25px;
	}
	.badge {
		position: absolute;
  	right: 5px;
  	background-color: @my-primary-color;
  	padding: 3px 3px;
  	font-weight: normal;
	}
}

.navbar-default{
	font-size: 16px;

	.navbar-nav > li > a {
	  padding-top: 30px;
	  padding-bottom: 30px;
	}

	.not-nav > li {
		> a {
		  padding-top: 26px;
		  padding-bottom: 26px;
 		  }
	  .dropdown-menu {
		  padding: 0;
		  width: 310px;
		}
	}

	.navbar-nav > .profile_menu > a {
	  padding-top: 10px;
	  padding-bottom: 10px;
	}
}

.profile_menu img {
  margin-right: 10px;
}

.messages{
	.notif-body{
		min-height:65px;
	}

	img{
		float:left;
		padding:10px;
	}
	.content li{
		border-bottom: 1px solid @my-text-gray-light;

		.date {
			font-size: 10px;
			color: @my-text-gray-light;
		}
	}
} 




